<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conflicting Quiz! | Trials and Tribulations of the Fifth Kind</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

  <div class="container mb3">
    <div class="row">
      <div class="card pb2 col-sm-10 col-sm-offset-1">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>

  <script src="{{url_for('api.static_file', filename='bundle.js')}}"></script>
</body>
</html>
