{% extends 'pdf_base_template.html' %}

{% block article %}
<div class="row my2">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div>
        <div class="about-type">
          <h1 class="bold caps mb1">Persuading</h1>

          <p>
            Persuasion strategies are those where a person or group attempts to change another's point of view, way of thinking, feeling, or ideas. One attempting to persuade another uses rational approaches, deductive adn inductive arguments, and any other verbal means s/he thinks will work to convince the other that his/her opinion is the one that should pervail.
          </p>

          <p>
            Persuasion is quite different from Negotiation or Collaboration, where it is assumed that all of the parties to the conflict are going to share in the change.
          </p>

          <p>Persuasion is used when you don't see the problem as "your" problem. You think that it "belongs" to someone else, and therefore you don't expect to modify your behaviour or your thinking.</p>

          <p>When considering persuasive strategies, determine whether collaborative or negotiative strategies are open to you. In some sitations it is not possible to negotiate or collaborate; even when you are willing to change your own behaviour or thinking such as:</p>

          <ol class="list">
            <li>When it is not possible for you to be fully open with another person (this would preclude Collaboration but not Negotiation)</li>
            <li>When you or the other parties involed don't have sufficient skill, tolerance, or experience at Collaboration to be able to use this mode.</li>
            <li>When repeated and significant attempts have been made to collaborate or negotiate and these have failed.</li>
          </ol>
        </div>

        <hr />

        <div class="when-to-use p1">
          <h2 class="bold caps mb1">When to Persuade</h2>

          <p>
            Persuasion tends not to work in situations of low trust. As the conflict increases, the trust decreases, and the less likely people are to listen to, let alone be persuaded by, what their opponent or enemy has to say.
          </p>

          <p class="mb2">
            If you are going to try and change someone else's way of thinking, you are most likely to be successful under these conditions:
          </p>

          <ul class="list">
            <li>The other is unclear abotu what they want</li>
            <li>The other trusts your motives.</li>
            <li>You have prestige and competence in the other's eyes.</li>
            <li>The other perceives your golas and theirs to be compatible.</li>
            <li>The other percevies themself to be appreciated or respected by you.</li>
            <li>The other does not have strong needs for independence and self competence.</li>
            <li>The other does not have strong opinions on the subject.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock article %}
