body {
  background: #f7f7f7;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1p 1px rgba(0,0,0,0.004);
}

.card {
  margin-top: 3em;
  background: white;
  padding: 0.55em;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.types {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.strongest {
  background: rgba(0,0,0,0.02);
}

.type {
  width: 25%;
  background: #f1f1f1;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 2rem;
  text-align: center;
}

.type h2 { margin: 0; }

/* MARGING */
.m1 { margin: 1em; }
.m2 { margin: 2em; }
.m3 { margin: 3em; }

.mx1 { margin-left: 1em; margin-right: 1em; }
.mx2 { margin-left: 2em; margin-right: 2em; }
.mx3 { margin-left: 3em; margin-right: 3em; }

.my1 { margin-top: 1em; margin-bottom: 1em; }
.my2 { margin-top: 2em; margin-bottom: 2em; }
.my3 { margin-top: 3em; margin-bottom: 3em; }

.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }

.ml1 { margin-left: 1em; }
.ml2 { margin-left: 2em; }
.ml3 { margin-left: 3em; }

.mr1 { margin-right: 1em; }
.mr2 { margin-right: 2em; }
.mr3 { margin-right: 3em; }

.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.mb3 { margin-bottom: 3em; }


/* PADDING */
.p1 { padding: 1em; }
.p2 { padding: 2em; }
.p3 { padding: 3em; }

.px1 { padding-left: 1em; padding-right: 1em; }
.px2 { padding-left: 2em; padding-right: 2em; }
.px3 { padding-left: 3em; padding-right: 3em; }

.py1 { padding-top: 1em; padding-bottom: 1em; }
.py2 { padding-top: 2em; padding-bottom: 2em; }
.py3 { padding-top: 3em; padding-bottom: 3em; }

.pt1 { padding-top: 1em; }
.pt2 { padding-top: 2em; }
.pt3 { padding-top: 3em; }

.pl1 { padding-left: 1em; }
.pl2 { padding-left: 2em; }
.pl3 { padding-left: 3em; }

.pr1 { padding-right: 1em; }
.pr2 { padding-right: 2em; }
.pr3 { padding-right: 3em; }

.pb1 { padding-bottom: 1em; }
.pb2 { padding-bottom: 2em; }
.pb3 { padding-bottom: 3em; }
